<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card
      *ngFor="let asignatura of asignaturas"
      (click)="irADetalle(asignatura)"
    >
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ asignatura.contenido }} </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
