<ion-content class="login-content">
  <app-header></app-header>
  <div class="login-container">
    <h1>Iniciar Sesión</h1>

    <!-- Input de Usuario -->
    <ion-item class="input-item">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <!-- Input de Clave -->
    <ion-item class="input-item">
      <ion-label position="floating">Clave</ion-label>
      <ion-input [(ngModel)]="clave" type="password"></ion-input>
    </ion-item>

    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="block" (click)="login(usuario, clave)"
      >Iniciar Sesión</ion-button
    >

    <!-- Botón de Recuperar Contraseña en login.page.html -->
    <ion-button
      expand="block"
      fill="clear"
      color="medium"
      (click)="navegarRecuperarPass()"
    >
      ¿Olvidaste tu contraseña?
    </ion-button>

    <!-- Mensaje de error -->
    <ion-text color="danger" *ngIf="loginFailed"
      >Usuario o clave incorrectos.</ion-text
    >
  </div>
</ion-content>
