.login-content {
  --background: #f0f4f8; // Cambia el fondo de la página
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; // Limitar el ancho
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
}

ion-text {
  margin-top: 10px;
}
