.login-content {
  display: flex;
  flex-direction: column;
  min-height:max-content; /* Se asegura de ocupar toda la altura de la pantalla */
}

.login-container {
  flex-grow: 1; /* Permite que el div crezca y ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 16px; /* Opcional: añadir espacio alrededor del contenido */
}

ion-item,
ion-button {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del formulario y botones */
}
