ion-toolbar {
  --background: #5578cd; /* Fondo azul claro */
  --color: #ffffff; /* Texto blanco */
}

.centered-title {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: #ffffff; /* Asegúrate de que el texto sea blanco para contraste */
}
