<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sala: {{ asignatura.sala }}</p>
      <p>Horario: {{ asignatura.horario }}</p>
      <p>Contenido: {{ asignatura.contenido }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary">Pasar Lista</ion-button>
  <ion-button expand="full" (click)="volver()">Volver</ion-button>
</ion-content>
