<ion-footer>
  <ion-toolbar [color]="getColor()">
    <!-- Usa la función para cambiar el color -->
    <ion-title>Pie de página</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">Home</ion-button>
      <ion-button [routerLink]="['/contacto']">Contacto</ion-button>
      <ion-button [routerLink]="['/store']">Store</ion-button>
      <ion-button [routerLink]="['/logOut']">Log Out</ion-button>
      <ion-button [routerLink]="['/logIn']">Log In</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
